In [1]:
import pandas as pd

In [28]:
orig_url='https://drive.google.com/file/d/1pGtz5rNW0tnDejQy8LijyZp1PkLlV9EE/view?usp=sharing'

file_id = orig_url.split('/')[-2]
dwn_url='https://drive.google.com/uc?export=download&id=' + file_id
url = requests.get(dwn_url).text
csv_raw = StringIO(url)
dfs = pd.read_csv(csv_raw)
dfs.head()

        Entity Code        Date  grocery_and_pharmacy
0  Afghanistan  AFG  2020-02-17                 4.000
1  Afghanistan  AFG  2020-02-18                 4.250
2  Afghanistan  AFG  2020-02-19                 4.000
3  Afghanistan  AFG  2020-02-20                 3.833
4  Afghanistan  AFG  2020-02-21                 4.571

In [10]:
df1 = pd.read_csv('workplace-visitors-covid.csv')

Requirement already up-to-date: ipython in /Users/lucas_botella/Documents/anaconda3/lib/python3.8/site-packages (7.20.0)
Requirement already satisfied, skipping upgrade: pexpect>4.3; sys_platform != "win32" in /Users/lucas_botella/Documents/anaconda3/lib/python3.8/site-packages (from ipython) (4.8.0)
Requirement already satisfied, skipping upgrade: jedi>=0.16 in /Users/lucas_botella/Documents/anaconda3/lib/python3.8/site-packages (from ipython) (0.17.1)
Requirement already satisfied, skipping upgrade: decorator in /Users/lucas_botella/Documents/anaconda3/lib/python3.8/site-packages (from ipython) (4.4.2)
Requirement already satisfied, skipping upgrade: pickleshare in /Users/lucas_botella/Documents/anaconda3/lib/python3.8/site-packages (from ipython) (0.7.5)
Requirement already satisfied, skipping upgrade: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /Users/lucas_botella/Documents/anaconda3/lib/python3.8/site-packages (from ipython) (3.0.14)
Requirement already satisfied, skipping upgrade: backcall in /Users/lucas_botella/Documents/anaconda3/lib/python3.8/site-packages (from ipython) (0.2.0)
Requirement already satisfied, skipping upgrade: appnope; sys_platform == "darwin" in /Users/lucas_botella/Documents/anaconda3/lib/python3.8/site-packages (from ipython) (0.1.0)
Requirement already satisfied, skipping upgrade: setuptools>=18.5 in /Users/lucas_botella/Documents/anaconda3/lib/python3.8/site-packages (from ipython) (49.2.0.post20200714)
Requirement already satisfied, skipping upgrade: traitlets>=4.2 in /Users/lucas_botella/Documents/anaconda3/lib/python3.8/site-packages (from ipython) (4.3.3)
Requirement already satisfied, skipping upgrade: pygments in /Users/lucas_botella/Documents/anaconda3/lib/python3.8/site-packages (from ipython) (2.6.1)
Requirement already satisfied, skipping upgrade: ptyprocess>=0.5 in /Users/lucas_botella/Documents/anaconda3/lib/python3.8/site-packages (from pexpect>4.3; sys_platform != "win32"->ipython) (0.6.0)
Requirement already satisfied, skipping upgrade: parso<0.8.0,>=0.7.0 in /Users/lucas_botella/Documents/anaconda3/lib/python3.8/site-packages (from jedi>=0.16->ipython) (0.7.0)
Requirement already satisfied, skipping upgrade: wcwidth in /Users/lucas_botella/Documents/anaconda3/lib/python3.8/site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython) (0.2.5)
Requirement already satisfied, skipping upgrade: ipython-genutils in /Users/lucas_botella/Documents/anaconda3/lib/python3.8/site-packages (from traitlets>=4.2->ipython) (0.2.0)
Requirement already satisfied, skipping upgrade: six in /Users/lucas_botella/Documents/anaconda3/lib/python3.8/site-packages (from traitlets>=4.2->ipython) (1.12.0)

In [50]:
df1 = pd.read_csv('data/changes-visitors-covid.csv')
df2 = pd.read_csv('data/change-visitors-grocery-stores.csv')

In [51]:
df1[df1['Code']=='AFG'

SyntaxError: unexpected EOF while parsing (<ipython-input-51-e696a7222a66>, line 1)

In [52]:
df2[df2['Code']=='AFG'

SyntaxError: unexpected EOF while parsing (<ipython-input-52-0f68b9383f0c>, line 1)

In [5]:
#df_merge=df1.merge(df2, left_on = ['Code', 'Date'], right_on = ['Code', 'Date'])

In [53]:
df2['Date'] = pd.to_datetime(df2['Date']) - pd.to_timedelta(14, unit='d')

In [55]:
df2[df2['Code']=='AFG']

          Entity Code       Date  grocery_and_pharmacy
0    Afghanistan  AFG 2020-02-03                 4.000
1    Afghanistan  AFG 2020-02-04                 4.250
2    Afghanistan  AFG 2020-02-05                 4.000
3    Afghanistan  AFG 2020-02-06                 3.833
4    Afghanistan  AFG 2020-02-07                 4.571
..           ...  ...        ...                   ...
272  Afghanistan  AFG 2021-01-08                39.571
273  Afghanistan  AFG 2021-01-09                39.429
274  Afghanistan  AFG 2021-01-10                39.429
275  Afghanistan  AFG 2021-01-11                40.143
276  Afghanistan  AFG 2021-01-12                40.000

[277 rows x 4 columns]

In [107]:
df2 = pd.read_csv('data/change-visitors-grocery-stores.csv')

In [108]:
df2['Date'] = pd.to_datetime(df2['Date']) - pd.to_timedelta(14, unit='d')

In [102]:
df2 = df2.groupby(['Code', pd.Grouper(key='Date', freq='2W-MON')]).mean().reset_index()

In [97]:
df2[df2['Code']=='AFG'].head()

   Code       Date  grocery_and_pharmacy
26  AFG 2020-02-03              4.000000
27  AFG 2020-02-17              5.393571
28  AFG 2020-03-02              3.663214
29  AFG 2020-03-16              2.010214
30  AFG 2020-03-30            -22.285857

In [22]:
import glob

files = []

for filepath in glob.iglob('/Users/lucas_botella/Desktop/TFM/data/*.csv'):
    
    files.append(filepath)

for i in range(len(files)):
    
    df_aux = pd.read_csv(files[i])
    df_merge=df_merge.merge(df_aux, left_on = ['Entity','Code', 'Date'], right_on = ['Entity','Code', 'Date'])

In [23]:
df_merge

,Entity,Code,Date,retail_and_recreation_x,grocery_and_pharmacy_x,parks_x,transit_stations_x,workplaces_x,residential_x,grocery_and_pharmacy_y,...,testing_policy,stay_home_requirements,parks,school_closures,close_public_transport,"Excess mortality P-scores, ages 15–64","Excess mortality P-scores, ages 65–74","Excess mortality P-scores, ages 75–84","Excess mortality P-scores, ages 85+",cancel_public_events
0,Austria,AUT,2020-02-23,5.571,6.143,23.000,3.286,-2.714,0.000,6.143,...,1,0,23.000,0,0,-6.12,-2.40,-2.31,-8.64,0
1,Austria,AUT,2020-03-01,3.000,8.143,16.571,1.000,1.000,0.286,8.143,...,1,0,16.571,0,0,-2.48,-9.93,6.60,-6.26,0
2,Austria,AUT,2020-03-08,3.000,5.000,9.143,-0.286,1.429,-0.286,5.000,...,1,0,9.143,0,0,6.27,-0.76,2.22,-4.07,0
3,Austria,AUT,2020-03-15,-19.143,8.857,-1.286,-17.143,-5.000,3.429,8.857,...,1,0,-1.286,0,1,5.40,-3.98,2.80,-1.56,2
4,Austria,AUT,2020-03-22,-81.143,-34.429,-43.000,-67.571,-54.714,21.857,-34.429,...,1,2,-43.000,2,1,11.83,4.28,27.50,11.95,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1416,United States,USA,2020-11-15,-18.286,-8.143,-6.286,-34.714,-26.714,9.143,-8.143,...,3,1,-6.286,3,1,15.70,28.74,28.34,17.94,2
1417,United States,USA,2020-11-22,-19.714,-6.714,-7.857,-34.000,-25.714,9.143,-6.714,...,3,2,-7.857,3,1,15.52,33.48,33.50,23.49,2
1418,United States,USA,2020-11-29,-25.143,-7.571,-7.429,-38.143,-40.857,12.429,-7.571,...,3,2,-7.429,3,1,15.33,34.80,33.24,26.42,2
1419,United States,USA,2020-12-06,-19.429,-7.714,-16.286,-36.571,-26.286,9.714,-7.714,...,3,2,-16.286,3,1,15.97,37.82,38.75,29.12,2
1420,United States,USA,2020-12-13,-20.143,-7.571,-14.857,-37.429,-26.429,9.714,-7.571,...,3,2,-14.857,3,1,17.50,37.23,42.51,35.00,2

In [24]:
df_merge.columns

Index(['Entity', 'Code', 'Date', 'retail_and_recreation_x',
       'grocery_and_pharmacy_x', 'parks_x', 'transit_stations_x',
       'workplaces_x', 'residential_x', 'grocery_and_pharmacy_y',
       'grocery_and_pharmacy_x', 'retail_and_recreation_y',
       'grocery_and_pharmacy_y', 'parks_y', 'transit_stations_y',
       'workplaces_y', 'residential_y', 'income_support',
       'international_travel_controls', 'restriction_gatherings',
       'restrictions_internal_movements', 'contact_tracing',
       'transit_stations', 'residential', 'retail_and_recreation',
       'public_information_campaigns', 'workplace_closures', 'debt_relief',
       'facial_coverings', 'workplaces', 'testing_policy',
       'stay_home_requirements', 'parks', 'school_closures',
       'close_public_transport', 'Excess mortality P-scores, ages 15–64',
       'Excess mortality P-scores, ages 65–74',
       'Excess mortality P-scores, ages 75–84',
       'Excess mortality P-scores, ages 85+', 'cancel_public_events'],
      dtype='object')

In [25]:
df_merge.dropna()

,Entity,Code,Date,retail_and_recreation_x,grocery_and_pharmacy_x,parks_x,transit_stations_x,workplaces_x,residential_x,grocery_and_pharmacy_y,...,testing_policy,stay_home_requirements,parks,school_closures,close_public_transport,"Excess mortality P-scores, ages 15–64","Excess mortality P-scores, ages 65–74","Excess mortality P-scores, ages 75–84","Excess mortality P-scores, ages 85+",cancel_public_events
0,Austria,AUT,2020-02-23,5.571,6.143,23.000,3.286,-2.714,0.000,6.143,...,1,0,23.000,0,0,-6.12,-2.40,-2.31,-8.64,0
1,Austria,AUT,2020-03-01,3.000,8.143,16.571,1.000,1.000,0.286,8.143,...,1,0,16.571,0,0,-2.48,-9.93,6.60,-6.26,0
2,Austria,AUT,2020-03-08,3.000,5.000,9.143,-0.286,1.429,-0.286,5.000,...,1,0,9.143,0,0,6.27,-0.76,2.22,-4.07,0
3,Austria,AUT,2020-03-15,-19.143,8.857,-1.286,-17.143,-5.000,3.429,8.857,...,1,0,-1.286,0,1,5.40,-3.98,2.80,-1.56,2
4,Austria,AUT,2020-03-22,-81.143,-34.429,-43.000,-67.571,-54.714,21.857,-34.429,...,1,2,-43.000,2,1,11.83,4.28,27.50,11.95,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1416,United States,USA,2020-11-15,-18.286,-8.143,-6.286,-34.714,-26.714,9.143,-8.143,...,3,1,-6.286,3,1,15.70,28.74,28.34,17.94,2
1417,United States,USA,2020-11-22,-19.714,-6.714,-7.857,-34.000,-25.714,9.143,-6.714,...,3,2,-7.857,3,1,15.52,33.48,33.50,23.49,2
1418,United States,USA,2020-11-29,-25.143,-7.571,-7.429,-38.143,-40.857,12.429,-7.571,...,3,2,-7.429,3,1,15.33,34.80,33.24,26.42,2
1419,United States,USA,2020-12-06,-19.429,-7.714,-16.286,-36.571,-26.286,9.714,-7.714,...,3,2,-16.286,3,1,15.97,37.82,38.75,29.12,2
1420,United States,USA,2020-12-13,-20.143,-7.571,-14.857,-37.429,-26.429,9.714,-7.571,...,3,2,-14.857,3,1,17.50,37.23,42.51,35.00,2

In [26]:
df_merge=df_merge[['retail_and_recreation_x',
       'grocery_and_pharmacy_x', 'parks_x', 'transit_stations_x',
       'workplaces_x', 'residential_x', 'grocery_and_pharmacy_y',
       'grocery_and_pharmacy_x', 'retail_and_recreation_y',
       'grocery_and_pharmacy_y', 'parks_y', 'transit_stations_y',
       'workplaces_y', 'residential_y', 'income_support',
       'international_travel_controls', 'restriction_gatherings',
       'restrictions_internal_movements', 'contact_tracing',
       'transit_stations', 'residential', 'retail_and_recreation',
       'public_information_campaigns', 'workplace_closures', 'debt_relief',
       'facial_coverings', 'workplaces', 'testing_policy',
       'stay_home_requirements', 'parks', 'school_closures',
       'close_public_transport','Excess mortality P-scores, ages 85+', 'cancel_public_events']]

In [28]:
df_merge

,retail_and_recreation_x,grocery_and_pharmacy_x,grocery_and_pharmacy_x,parks_x,transit_stations_x,workplaces_x,residential_x,grocery_and_pharmacy_y,grocery_and_pharmacy_y,grocery_and_pharmacy_x,...,debt_relief,facial_coverings,workplaces,testing_policy,stay_home_requirements,parks,school_closures,close_public_transport,"Excess mortality P-scores, ages 85+",cancel_public_events
0,5.571,6.143,6.143,23.000,3.286,-2.714,0.000,6.143,6.143,6.143,...,0,0,-2.714,1,0,23.000,0,0,-8.64,0
1,3.000,8.143,8.143,16.571,1.000,1.000,0.286,8.143,8.143,8.143,...,0,0,1.000,1,0,16.571,0,0,-6.26,0
2,3.000,5.000,5.000,9.143,-0.286,1.429,-0.286,5.000,5.000,5.000,...,0,0,1.429,1,0,9.143,0,0,-4.07,0
3,-19.143,8.857,8.857,-1.286,-17.143,-5.000,3.429,8.857,8.857,8.857,...,0,0,-5.000,1,0,-1.286,0,1,-1.56,2
4,-81.143,-34.429,-34.429,-43.000,-67.571,-54.714,21.857,-34.429,-34.429,-34.429,...,2,0,-54.714,1,2,-43.000,2,1,11.95,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1416,-18.286,-8.143,-8.143,-6.286,-34.714,-26.714,9.143,-8.143,-8.143,-8.143,...,1,4,-26.714,3,1,-6.286,3,1,17.94,2
1417,-19.714,-6.714,-6.714,-7.857,-34.000,-25.714,9.143,-6.714,-6.714,-6.714,...,1,4,-25.714,3,2,-7.857,3,1,23.49,2
1418,-25.143,-7.571,-7.571,-7.429,-38.143,-40.857,12.429,-7.571,-7.571,-7.571,...,1,4,-40.857,3,2,-7.429,3,1,26.42,2
1419,-19.429,-7.714,-7.714,-16.286,-36.571,-26.286,9.714,-7.714,-7.714,-7.714,...,1,4,-26.286,3,2,-16.286,3,1,29.12,2
1420,-20.143,-7.571,-7.571,-14.857,-37.429,-26.429,9.714,-7.571,-7.571,-7.571,...,1,4,-26.429,3,2,-14.857,3,1,35.00,2

In [51]:
X=df_merge[['retail_and_recreation_x',
       'grocery_and_pharmacy_x', 'parks_x', 'transit_stations_x',
       'workplaces_x', 'residential_x', 'grocery_and_pharmacy_y',
       'grocery_and_pharmacy_x', 'retail_and_recreation_y',
       'grocery_and_pharmacy_y', 'parks_y', 'transit_stations_y',
       'workplaces_y', 'residential_y', 'income_support',
       'international_travel_controls', 'restriction_gatherings',
       'restrictions_internal_movements', 'contact_tracing',
       'transit_stations', 'residential', 'retail_and_recreation',
       'public_information_campaigns', 'workplace_closures', 'debt_relief',
       'facial_coverings', 'workplaces', 'testing_policy',
       'stay_home_requirements', 'parks', 'school_closures',
       'close_public_transport','cancel_public_events']]
y=df_merge[['Excess mortality P-scores, ages 85+']]

In [32]:
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

In [71]:
df_merge.head()

   retail_and_recreation_x  grocery_and_pharmacy_x  grocery_and_pharmacy_x  parks_x  transit_stations_x  workplaces_x  residential_x  grocery_and_pharmacy_y  grocery_and_pharmacy_y  grocery_and_pharmacy_x  grocery_and_pharmacy_x  retail_and_recreation_y  grocery_and_pharmacy_y  grocery_and_pharmacy_y  parks_y  transit_stations_y  workplaces_y  residential_y  income_support  international_travel_controls  restriction_gatherings  restrictions_internal_movements  contact_tracing  transit_stations  residential  retail_and_recreation  public_information_campaigns  workplace_closures  debt_relief  facial_coverings  workplaces  testing_policy  stay_home_requirements   parks  school_closures  close_public_transport  Excess mortality P-scores, ages 85+  cancel_public_events
0                    5.571                   6.143                   6.143   23.000               3.286        -2.714          0.000                   6.143                   6.143                   6.143                   6.143                    5.571                   6.143                   6.143   23.000               3.286        -2.714          0.000               0                              0                       0                                0                0             3.286        0.000                  5.571                             0                   0            0                 0      -2.714               1                       0  23.000                0                       0                                -8.64                     0
1                    3.000                   8.143                   8.143   16.571               1.000         1.000          0.286                   8.143                   8.143                   8.143                   8.143                    3.000                   8.143                   8.143   16.571               1.000         1.000          0.286               0                              0                       0                                0                1             1.000        0.286                  3.000                             2                   0            0                 0       1.000               1                       0  16.571                0                       0                                -6.26                     0
2                    3.000                   5.000                   5.000    9.143              -0.286         1.429         -0.286                   5.000                   5.000                   5.000                   5.000                    3.000                   5.000                   5.000    9.143              -0.286         1.429         -0.286               0                              0                       0                                0                1            -0.286       -0.286                  3.000                             2                   0            0                 0       1.429               1                       0   9.143                0                       0                                -4.07                     0
3                  -19.143                   8.857                   8.857   -1.286             -17.143        -5.000          3.429                   8.857                   8.857                   8.857                   8.857                  -19.143                   8.857                   8.857   -1.286             -17.143        -5.000          3.429               0                              3                       0                                2                1           -17.143        3.429                -19.143                             2                   1            0                 0      -5.000               1                       0  -1.286                0                       1                                -1.56                     2
4                  -81.143                 -34.429                 -34.429  -43.000             -67.571       -54.714         21.857                 -34.429                 -34.429                 -34.429                 -34.429                  -81.143                 -34.429                 -34.429  -43.000             -67.571       -54.714         21.857               2                              3                       4                                2                1           -67.571       21.857                -81.143                             2                   3            2                 0     -54.714               1                       2 -43.000                2                       1                                11.95                     2

In [36]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import KFold

In [38]:
model = LinearRegression()
scores = []
kfold = KFold(n_splits=3, shuffle=True, random_state=42)
for i, (train, test) in enumerate(kfold.split(X, y)):
 model.fit(X.iloc[train,:], y.iloc[train,:])
 score = model.score(X.iloc[test,:], y.iloc[test,:])
 scores.append(score)
print(scores)

[0.20544757749432074, 0.2766286764942819, 0.24778428146153564]

In [40]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.datasets import make_regression

regr = RandomForestRegressor(max_depth=2, random_state=0)
regr.fit(X, y)

<ipython-input-40-cccd8ef1b1d5>:5: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  regr.fit(X, y)

RandomForestRegressor(max_depth=2, random_state=0)

In [62]:
df_merge.applymap(np.isreal).all(1)

0       True
1       True
2       True
3       True
4       True
        ...
1416    True
1417    True
1418    True
1419    True
1420    True
Length: 1421, dtype: bool

In [54]:
# Separar el modelo en conjunto de test y entrenamiento
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state=42)

In [63]:
# 1 - Cargar las librerías scikit-learn
from sklearn.linear_model import LinearRegression

# 2 - Crear una instancia
reg_lin = LinearRegression()

# 3 - Entrenar el modelo
reg_lin.fit(X_train, y_train)

# 4 - Predicción
y_pred = reg_lin.predict(X_test)

In [64]:
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score

# Use against predictions
mae = mean_absolute_error(y_test, y_pred)
mape = np.mean(np.abs(y_test-y_pred)/y_pred)
mse = mean_squared_error(y_test, y_pred)
rmse = np.sqrt(mean_squared_error(y_test, y_pred))
r2 = r2_score(y_test, y_pred)

scores = {'mae': mae, 'mape': mape, 'mse': mse, 'rmse': rmse, 'r2': r2}

for key in scores:
    print(f"{key} score is {scores[key]}")

mae score is 13.663316094406078
mape score is Excess mortality P-scores, ages 85+    1.100916
dtype: float64
mse score is 364.8951706462522
rmse score is 19.102229467950913
r2 score is 0.19564742516766886

In [65]:
pd.DataFrame(data=scores, index=['reg_lin']).head()

               mae  mape         mse       rmse        r2
reg_lin  13.663316   NaN  364.895171  19.102229  0.195647

In [66]:
# 1 - Cargar las librerías scikit-learn
from sklearn.linear_model import LinearRegression

# 2 - Crear una instancia
reg_lin = LinearRegression()

# 3 - Entrenar el modelo
reg_lin.fit(X_train, y_train)

# 4 - Predicción
y_pred = reg_lin.predict(X_test)

In [68]:
reg_lin.coef_, reg_lin.intercept_

(array([[-1.86838287e-01, -3.82891030e-03, -3.82891030e-03,
         -3.82891030e-03, -3.82891030e-03,  1.00293917e-02,
          7.46825615e-02,  3.68232823e-02,  1.51888249e-01,
         -3.82891030e-03, -3.82891030e-03, -3.82891030e-03,
         -3.82891030e-03, -3.82891030e-03, -3.82891030e-03,
         -3.82891030e-03, -3.82891030e-03, -1.86838287e-01,
         -3.82891030e-03, -3.82891030e-03, -3.82891030e-03,
         -3.82891030e-03,  1.00293917e-02,  7.46825615e-02,
          3.68232823e-02,  1.51888249e-01,  1.65624641e+00,
         -1.90862609e+00,  1.92134479e+00, -4.85755971e+00,
         -2.72971307e+00,  7.46825615e-02,  1.51888249e-01,
         -1.86838287e-01,  1.10106225e+00,  1.93000502e+00,
         -2.64676501e+00,  4.69728888e+00,  3.68232823e-02,
          5.32247402e-01,  1.58104237e+00,  1.00293917e-02,
          2.40355602e+00, -4.14841201e+00, -3.57722377e+00]]),
 array([2.32742355]))

In [69]:
# Cargar métricas
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score

# Use against predictions
mae = mean_absolute_error(y_test, y_pred)
mape = np.mean(np.abs(y_test-y_pred)/y_pred)
mse = mean_squared_error(y_test, y_pred)
rmse = np.sqrt(mean_squared_error(y_test, y_pred))
r2 = r2_score(y_test, y_pred)

scores = {'mae': mae, 'mape': mape, 'mse': mse, 'rmse': rmse, 'r2': r2}

for key in scores:
    print(f"{key} score is {scores[key]}")

mae score is 13.663316094406078
mape score is Excess mortality P-scores, ages 85+    1.100916
dtype: float64
mse score is 364.8951706462522
rmse score is 19.102229467950913
r2 score is 0.19564742516766886